.container {
  display: flex;
  flex-direction: row;
}

.sidebar-content-container {
  background-color: white;
  box-shadow: 0 0 0 1px rgba(16, 22, 26, 0.1), 0 0 0 rgba(16, 22, 26, 0),
    0 1px 1px rgba(16, 22, 26, 0.2);
  display: flex;
  flex-direction: column;
  padding: 1%;
  width: 30%;
}

.other-content-container {
  background-color: #f5f8fa;
  display: flex;
  flex-direction: column;
  width: 70%;
}

.sidebar-link {
  padding: 1%;
}

/* For smaller screens:
- bump link padding
- display the main page content as two full-width, stacked columns.
 */
@media screen and (max-width: 600px) {
  .sidebar-link {
    padding: 2% 1%;
  }

  .container {
    display: flex;
    flex-direction: column;
  }

  .sidebar-content-container, .other-content-container {
    width: 100%;
  }
}
